.register {
  width: 80%;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }
    label {
      color: rgb(0, 105, 175);
      margin-bottom: 10px;
    }
    input {
      height: 35px;
      width: 300px;
      border: 1px solid rgba(77, 158, 252, 0.75);
      border-radius: 5px;
      padding-left: 10px;
      &:focus {
        outline: none;
        box-shadow: 1px 1px 13px 4px rgba(77, 158, 252, 0.75);
        -webkit-box-shadow: 1px 1px 13px 4px rgba(77, 158, 252, 0.75);
        -moz-box-shadow: 1px 1px 13px 4px rgba(77, 158, 252, 0.75);
      }
    }
    .btn-primary {
      background-color: rgba(77, 158, 252, 0.75);
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: white;
        border: 2px solid rgba(77, 158, 252, 0.75);
        color: rgba(77, 158, 252, 0.75);
      }
    }
  }
}
