.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 20px;
  }
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h3 {
      margin-right: 10px;
      color: rgba(77, 158, 252, 0.75);
    }
  }
}
