#root main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 115, 216);
  padding: 0 20px;
  height: 50px;
  margin-bottom: 20px;
  .home {
    font-size: 23px;
  }
  a {
    color: white;
    &:hover {
      color: rgb(153, 156, 184);
    }
  }
  div {
    a {
      margin-right: 20px;
    }
    button {
      background: none;
      border: none;
      color: white;
      font-size: 17px;
      cursor: pointer;
      &:hover {
        color: rgb(153, 156, 184);
      }
    }
  }
}
